.DS_Store 
.git
.git/
*.autosave 
*.save
*~
*.pyc
sdk
sdk/
logs
logs/
config
config/
gui/html/sdk
gui/html/sdk/
gui/html/gui/env_custom.js
collection/.tmp
collection/.build
collection/.tmp/
collection/.build/
