branch: development
description: Retrieve images from a url
dockerhub: egeoffrey/egeoffrey-service-image
github: egeoffrey/egeoffrey-service-image
icon: image
manifest_schema: 2
modules:
- service/image:
    description: Retrieve images from a url or by running a command
    service_configuration:
      pull:
      - description: Download the image from this URL
        format: string
        name: url
        placeholder: http://domain.com/image.jpg
        required: false
      - description: Run a command returning an image
        format: string
        name: command
        placeholder: raspistill -w 640 -h 480 -o -
        required: false
      - description: Username if the URL requires basic authentication
        format: string
        name: username
        placeholder: username
        required: false
      - description: Password if the URL requires basic authentication
        format: string
        name: password
        placeholder: password
        required: true
package: egeoffrey-service-image
revision: 11
tags: service image webcam
version: 1.0
